In [ ]:
#Q1. What are the characteristics of the tuples? Is tuple immutable?

 """ ANS :--
      Some major characters of tuple is  Ordered , Immutable,Heterogeneous,Indexed,Fixed size
      Is tuple immutable yes """

In [1]:
"""Q2 What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists."""

# Count :- this method returns the number of occurrences of a specific element in a tuple.

tu1 = (12,23,34,45,56)

In [3]:
tu1.count(34)

1

In [4]:
# Index :- This method returns the index of the first occurrence of a specific element in a tuple.


tu1.index(45)

3

In [ ]:
"""Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]"""

In [8]:
#  ANS:- Set collection datatypes in python do not allow duplicate items

set1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set2  = set(set1)
print(list(set2))

[1, 2, 3, 4]

In [ ]:
"""Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

In [10]:
# ANS --The union() method returns a set that contains all the elements from both sets, without any duplicates. It does not modify the original sets.
set1 ={1,2,3}
set2 ={3,4,5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [11]:
# The update() method modifies the original set by adding all the elements from the other set(s) to it. It does not return a new set, it updates the original set.

set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
"""Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [13]:
#A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}
print(marvel_dict)

#A dictionary is unorderd

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'alibies': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}}

In [ ]:
"""Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

In [15]:
##  ANS -- Yes we can create a nested dictionary

student = {
    "name": "Soumya Ranjan Das",
    "age": 30,
    "address": {
        "street": "Los Angle.",
        "city": "Clifornia",
        "state": "USA",
        "zip": "94102"
    }
}

print(student)

{'name': 'Soumya Ranjan Das', 'age': 30, 'address': {'street': 'Los Angle.', 'city': 'Clifornia', 'state': 'USA', 'zip': '94102'}}

In [ ]:
""" Q7 Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [17]:
sub1 = {'language' : 'Python', 'course': 'Data Science Masters'}
topics = ['Python', 'Machine Learning', 'Deep Learning']
sub1.setdefault('topics', topics)
print(sub1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [ ]:
"""Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [ ]:
# Ans --dictionaries have three view objects that provide a dynamic view of the dictionary's entries:

    keys()
    values()
    items()

In [18]:
d1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

# keys() method
print("The keys of the dictionary: ", d1.keys())

# values() method
print("The values of the dictionary: ", d1.values())

# items() method
print("The items of the dictionary: ", d1.items())

The keys of the dictionary:  dict_keys(['Sport', 'Teams'])
The values of the dictionary:  dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
The items of the dictionary:  dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])